@page
@model hosApp.Pages.Prescriptions.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Prescription.ID" />
            <div class="form-group">
                <label asp-for="Prescription.idConsul" class="control-label"></label>
                <select asp-for="Prescription.idConsul" class="form-control" asp-items="ViewBag.idConsul"></select>
                <span asp-validation-for="Prescription.idConsul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prescription.prescription" class="control-label"></label>
                <input asp-for="Prescription.prescription" class="form-control" />
                <span asp-validation-for="Prescription.prescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
