@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>the best Hospital ever</a>.</p>
    @* <img src="images/images1.png" alt="Sample Photo" /> *@
</div>
